name: Clone
on:
  # kick off the job on demand
  workflow_dispatch:
  # and run on a schedule every 12 hours
  schedule:
    - cron: "* */12 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run action
        uses: andrewthetechie/gha-clone-releases@v1.9.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          src_repo: JackZhang1988/apitune-app
          skip_draft: true
          skip_prerelease: true
          copy_assets: true
